.imageLogo {
    width: 100%;
    height: 7em;
    background: url('/images/Logo/logo.png') no-repeat center;
    background-size: contain;
    display: inline-block;
    position: absolute;
    z-index: 101;
    top: 60px;
}

.title-heading {
    color: black;
    margin-top: 10px;
}

.passwordErrorHeading {
    color: red;
    margin-top: 10px;
}

.emailErrorHeading {
    color: red;
}

.successHeading {
    color: blue;
    margin-bottom: -20px;
    margin-top: 10px;
}

.buttonClass {
    width: 100%;
    margin-top: 0.2em;
}

.submitButtonClass {
    margin-top: 0.7rem;
    width: 100%;
}

p {
    font-weight: 600;
    margin-bottom: 0.1%;
    display: block;
}

i {
    font-size: 24px;
}

.iconSpan {
    background-color: white;
    border: 0;
}

.inputClass {
    border: 0;
    outline: 0;
    background: transparent;
    border-radius: 0;
}

.inputDiv {
    border-bottom: 1px solid black;
    padding: 2px 0;
    margin: 5px 0 10px 0;
}

body {
    width: 400px;
    min-width: 400px;
}

#signupbody {
    display: none;
}

.inputClass:focus {
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(89, 152, 247);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(33, 103, 209);
}

#img_wrapper img {
    max-width: 100%;
}

.btn-dark {
    background: black !important;
}
.loader-custom {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sign-custom {
    margin-bottom: 1.5rem;
    color: white;
    background: #0b3068 !important;
    text-align: center;
    padding: 10px;
    border-radius: 22px;
}


