.imageLogo{
    background-image: url('/images/logo.png');
    width: 49%;
    height: 5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    position: absolute;
    z-index: 101;
    left: 7rem;
    top: 0.7em;
 }
.titleHeading{
    color: blue;
    margin-top: 4.8rem;
}

.passwordErrorHeading{
    color: red;
    margin-bottom: -20px;
    margin-top: 10px;
}

.emailErrorHeading{
    color: red;
    margin-top: 30px;
}

.successHeading{
    color: blue;
    margin-bottom: -20px;
    margin-top: 10px;
}

.buttonClass{
    width:100%;
    margin-top: 0.2em;
}
.submitButtonClass{
    margin-top: 0.7rem;
    width: 100%;
}
p{
	margin-bottom: 0.1%;
	display: block;
}
i{
	font-size: 24px;
}
.iconSpan{
	background-color: white;
	border:0;
}
.inputClass{
	border: 0;
	outline: 0;
	background: transparent;
	border-radius: 0;
}
.inputDiv{
	border-bottom: 1px solid black;
}
body{
	width: 400px;
	min-width: 400px;
	font-family: Helvetica;
    padding-top: 0.7em;
}
#signupbody{
	display:none;
}
.inputClass:focus {
    /*outline-width: 0;*/
    box-shadow: none;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(89, 152, 247);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(33, 103, 209);
}
#img_wrapper img{
    max-width: 100%;
}
